
.player {
  width: 240px;
  height: 180px;
  margin: 50px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}

.player:nth-child(2) {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.player-image {
  height: 290px;
  width: auto;
  margin: 78px auto;
}
@media (max-width: 500px) {
  .player {
    height: 85px;
    margin: 5% auto;
    width: 200px;
    height: 140px;
  }

  .player-image {
    height: 200px;
    margin: 0px auto;

  }
}
@media (max-width: 619px) {
  .player-image {
    height: 195px;
    margin: 6px auto;

  }
}

